{% macro render_menu() %}

<nav id="menu" class="uk-navbar-container uk-navbar-transparent" uk-navbar uk-sticky="top: 60; cls-inactive: uk-position-fixed">
  <!-- page navigation -->




    <!-- @@@ small screens -->
    <!--   -->
    <div id="menu_bar-s" class="uk-navbar-right uk-hidden@m ">

      <div class="navbar_toggle">
        <a id="navbar_toggle" href="#" class="uk-navbar-toggle" uk-icon="icon: menu"></a>
        <!-- <a id="navbar_toggle" href="#" class="uk-navbar-toggle" uk-icon="icon: menu" uk-toggle="target: .accordion_menu; animation: uk-animation-fade"></a> -->
      </div>
    </div>
    <!-- END small screen menu -->

    <!-- @@@ medium screens -->
    <div id="menu_bar-m" class="uk-navbar-right uk-visible@m">

      <ul class="uk-navbar-nav" >
        {% for id, item in bag('menu').items() %}
        <li{% if (this.is_child_of(item.path) and item.path != '/') %} class="menu-active uk-border-rounded" {% endif%}>
          <a href="{{ item.path|url }}">{{ item.label }}</a>
        </li>
        {% endfor %} 
          <!-- recursive menu -->
          {% set root = site.get('/projects') %}
          {% for child in root.children recursive %} {% set child_len = loop(child.children)|length %}
          <li class="{% if this._path == child._path %}menu-active {% endif %}{% if child_len > 0 and loop.depth >1 %}uk-parent {% endif %}">
            <a href="{{ child|url }}">{{ child.title }}</a>
            {% if child_len > 0 and loop.depth == 1 %} {#{% if this.is_child_of(child) %}#}
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">{{ loop(child.children) }}</ul>
            </div>
            {% elif child_len > 0 and loop.depth > 1 %}
            <ul class="uk-nav-sub">{{ loop(child.children) }}</ul>
            {% endif %}
          </li>
          {% endfor %}
      </ul>
    </div>

  <!-- END medium screen -->

</nav>
<div class="accordion_menu uk-hidden@m" style="display: none">
  <ul class="uk-nav-parent-icon" uk-nav>
    {% for id, item in bag('menu').items() %}
      <li {%- if this.is_child_of(item.path) and item.path != '/' %} class="menu-active" {% endif%}>
        <a href="{{ item.path|url }}">{{ item.label }}</a>
      </li>
    {% endfor %}
      <!-- accordion recursive menu -->
      {% set root = site.get('/projects') %} 
      {% for child in root.children recursive %} 
        {% set child_len = loop(child.children)|length %}
        <li class="{% if this._path == child._path %}menu-active {% endif %}{% if child_len > 0 and loop.depth == 1 %} uk-parent {% endif %}">
          <a href="{{ child|url }}">{{ child.title }}</a> 
          {% if child_len > 0 %}
          <ul class="uk-nav-sub">{{ loop(child.children) }}</ul>
          {% endif %}   
        </li>
      {% endfor %}
  </ul>
</div>

{% if this.body %}

<div id="offcanvas-nav" uk-offcanvas="flip: true;">
  <div class="uk-offcanvas-bar">

    <ul class="uk-nav uk-nav-default uk-list" uk-scrollspy-nav="closest: li; scroll: true; offset:150; cls: toc-active">
      <li><a href="#" uk-totop uk-scroll>top</a></li>
      {% for item in this.body.toc recursive %}
      <li><a href="#{{ item.anchor }}">{{ item.title }}</a> {%if item.children %}
        <ul class="toc uk-list uk-list-divider">{{ loop(item.children) }}</ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}


{% endmacro %}
