{% macro render_pagination(pagination) %}
  <div class="pagination">
  <h3 class="uk-heading-line uk-text-center"><span>
    {% if pagination.has_prev %}
      <a href="{{ pagination.prev|url }}"><span uk-pagination-previous> </span> Previous</a>
    {% else %}
      <span class="uk-disabled"> Previous</span>
    {% endif %}
    | page <span class="uk-active">{{ pagination.page }}</span> of {{ pagination.pages }} |
    {% if pagination.has_next %}
      <a href="{{ pagination.next|url }}">Next <span uk-pagination-next></span></a>
    {% else %}
      <span class="uk-disabled">Next</span>
    {% endif %}
    </span></h3>
  </div>
{% endmacro %}
