{% extends "layout.html" %}
{% from "macros/nav-menu.html" import  render_menu with context %}
{% block title %}{{ this.title }}{% endblock %}

{% block nav %}
  {{ render_menu() }}
{% endblock %}


{% block body %}
<div class="uk-grid-small@m" uk-grid>
<div class="uk-width-small@m"></div>
<div div class="uk-width-3-5@m">
  <h2>{{ this.title }}</h2>
            
            
            
            
<form action="https://formspree.io/scrivi@gmail.com"
      method="POST">
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">{{ this.body }}</legend>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="email for the reply" name="_replyto">
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="subject" name="subject">
        </div>

        <div class="uk-margin">
            <textarea class="uk-textarea" rows="5" placeholder="Message" name="message"></textarea>
        </div>
        <input class="uk-button uk-button-default" type="submit" value="Send">
<!--         <a class="uk-button uk-button-default" href="">Send</a> -->
    </fieldset>
</form>
</div>
<div class="uk-width-small@m"></div>  
{% endblock %}
</div>