{% extends "layout.html" %}
{% from "macros/nav-menu.html" import  render_menu with context %}
{% block title %}{{ this.title }}{% endblock %}

{% block extra_head %}

<script src="{{ '/static/js/imgPreload.js'|url }}"></script>

{% endblock %}

{% block nav %}
{{ render_menu() }}
{% endblock %}




{% block body %}

{% from "macros/pagination.html" import render_pagination %}

<a href="{{ '/gallery'|url }}" class="uk-float-right"><button class="uk-button uk-button-primary">Back to gallery</button></a>
<h2>{{ this.name }}</h2>
 
{{ this.body }}

{% if this.pagination.pages > 1 %}
  {{ render_pagination(this.pagination) }}
{% endif %}

{% set images = this.pagination.items %}
{% if images %}

<!-- image list -->
<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-text-center"  uk-grid-parallax="translate:200" > 
<!-- uk-lightbox -->
  {% for image in images %}
  <div> 

      {#  #}
      <figure>
        <a id="{{image._id}}" class="figure uk-inline uk-panel uk-link-muted uk-text-center" href="{{ image|url }}" 
     caption="{{ image.title }}">
          <img src="{{ image.thumbnail(400)|url }}" width="400" alt="">
        </a>

        
    
    {% if image.description %}
    <ul uk-accordion>
        <li>
        <figcaption class="uk-margin-small-top uk-accordion-title" uk-icon="icon: info">
         {{ image.title }} 
        </figcaption>
          <div class="uk-accordion-content">
            {% if image.year %} Year: {{ image.year }} {% endif %} {{ image.description }} 
          </div>
        </li>
    </ul>
    {% elif image.title %}
        <figcaption class="uk-margin-small-top" >{{ image.title }}</figcaption>
    {% endif %}        
      </figure>
    
  </div>
  {% endfor %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/v1eM6crbkxg?start=9" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


{% if this.pagination.pages > 1 %}
  {{ render_pagination(this.pagination) }}
{% endif %}

<script type="text/javascript">

{% set all_images = this.attachments.images.all() %}
  //<![CDATA[
  /*
  var img_json = [
    {%- for image in images %}
    {
    {%- set caption = image.caption|trim -%}
    {%- set description = image.description|trim -%}
    "id": "{{ image._id }}",
    "src": "{{ image|url }}",
    "width": {{ image.width }},
    "height": {{ image.height }}
    {%- if description %},
    "description": "{{ description }}"{% endif %}
    {%- if caption %},
    'caption': '{{ caption }}'{% endif %}
    }{% if not loop.last -%} ,{% endif %}
    {% endfor %}
  ];
  */
  $(function(){
//     UIkit.lightboxPanel({
//       items: [
//         {%- for image in all_images %}
//         {source: '{{ image|url }}', caption: '{{image.caption|trim}}'}{% if not loop.last -%} ,{% endif %}
//         {%- endfor %}
//       ]
//     });
  });
  var lb = UIkit.lightboxPanel({
      items: [
        {%- for image in all_images %}
        {source: '{{ image|url }}', caption: '{{image.title|trim}}', _id:'{{image._id}}' }{% if not loop.last -%} ,{% endif %}
        {%- endfor %}
      ]
    });
    
  $('.figure').on('click', function (e) {
    e.preventDefault();
    var index = 0;
    for (var i = 0; i < lb.items.length; i++) {
      img = lb.items[i];
      if (img._id == $(this).attr('id')) {
        index = i;
        break;
      }
    }
    lb.show(index);
  });
  //]]>
  
//   ,
//       index: $(this).attr('id')
</script>


{% endif %}

{% endblock %}
